/* .container{
    width: 700px;
    margin: auto;
    text-align: center;

}

button{
    padding: 10px 20px;
    margin: 10px;
}

#counter {
    font-size: 30px;
}

button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
} */

/* example 2  */

body{
    text-align: center;
}

#color-box{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

#copycolor{
    background-color: green;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

#copycolor:hover{
    background-color: rgba(0, 128, 0, 0.689);
    color: bisque;
}