.container{
    width: 700px;
    margin: auto;
    text-align: center;

}

button{
    padding: 10px 20px;
    margin: 10px;
}

#counter {
    font-size: 30px;
}

button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}